<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.orange.tfa">

    <application android:allowBackup="true"
                 android:label="@string/app_name" >
    <activity android:name=".LauncherActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
        <activity android:label="@string/rx_label" android:name=".rx.RXListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
